In [14]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_csv('bhavcopy.txt')
df

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
0,FUTIDX,BANKNIFTY,29-Jul-2021,0.0,XX,34975.75,35086.35,34810.85,34853.05,34853.05,105417,920286.40,2113400,-91225,01-JUL-2021,NaN
1,FUTIDX,BANKNIFTY,26-Aug-2021,0.0,XX,35426.30,35426.30,34973.45,35004.70,35004.70,2041,17894.82,79450,3850,01-JUL-2021,NaN
2,FUTIDX,BANKNIFTY,30-Sep-2021,0.0,XX,35303.05,35358.20,35128.85,35159.30,35159.30,264,2324.22,10300,425,01-JUL-2021,NaN
3,FUTIDX,FINNIFTY,01-Jul-2021,0.0,XX,16480.00,16480.00,16368.50,16373.10,16376.85,112,735.46,600,-720,01-JUL-2021,NaN
4,FUTIDX,FINNIFTY,08-Jul-2021,0.0,XX,16435.00,16435.00,16415.00,16415.00,16388.35,3,19.70,240,120,01-JUL-2021,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50733,OPTSTK,ZEEL,30-Sep-2021,255.0,PE,0.00,0.00,0.00,54.70,53.15,0,0.00,0,0,01-JUL-2021,NaN
50734,OPTSTK,ZEEL,30-Sep-2021,260.0,PE,0.00,0.00,0.00,58.40,56.90,0,0.00,0,0,01-JUL-2021,NaN
50735,OPTSTK,ZEEL,30-Sep-2021,265.0,PE,0.00,0.00,0.00,62.20,60.70,0,0.00,0,0,01-JUL-2021,NaN
50736,OPTSTK,ZEEL,30-Sep-2021,270.0,PE,0.00,0.00,0.00,66.05,64.60,0,0.00,0,0,01-JUL-2021,NaN
50737,OPTSTK,ZEEL,30-Sep-2021,275.0,PE,0.00,0.00,0.00,70.00,68.55,0,0.00,0,0,01-JUL-2021,NaN

In [16]:
df.shape

(50738, 16)

In [17]:
df = df[df['INSTRUMENT'].str.contains('OPTSTK')]
df

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
5920,OPTSTK,AARTIIND,29-Jul-2021,480.0,CE,0.0,0.0,0.0,386.20,376.80,0,0.0,0,0,01-JUL-2021,NaN
5921,OPTSTK,AARTIIND,29-Jul-2021,500.0,CE,0.0,0.0,0.0,379.05,356.85,0,0.0,0,0,01-JUL-2021,NaN
5922,OPTSTK,AARTIIND,29-Jul-2021,520.0,CE,0.0,0.0,0.0,531.50,336.90,0,0.0,0,0,01-JUL-2021,NaN
5923,OPTSTK,AARTIIND,29-Jul-2021,530.0,CE,0.0,0.0,0.0,512.80,326.95,0,0.0,0,0,01-JUL-2021,NaN
5924,OPTSTK,AARTIIND,29-Jul-2021,540.0,CE,0.0,0.0,0.0,494.30,317.00,0,0.0,0,0,01-JUL-2021,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50733,OPTSTK,ZEEL,30-Sep-2021,255.0,PE,0.0,0.0,0.0,54.70,53.15,0,0.0,0,0,01-JUL-2021,NaN
50734,OPTSTK,ZEEL,30-Sep-2021,260.0,PE,0.0,0.0,0.0,58.40,56.90,0,0.0,0,0,01-JUL-2021,NaN
50735,OPTSTK,ZEEL,30-Sep-2021,265.0,PE,0.0,0.0,0.0,62.20,60.70,0,0.0,0,0,01-JUL-2021,NaN
50736,OPTSTK,ZEEL,30-Sep-2021,270.0,PE,0.0,0.0,0.0,66.05,64.60,0,0.0,0,0,01-JUL-2021,NaN
50737,OPTSTK,ZEEL,30-Sep-2021,275.0,PE,0.0,0.0,0.0,70.00,68.55,0,0.0,0,0,01-JUL-2021,NaN

In [18]:
multisymbols = [
    'ACC',
    'ADANIENT',
    'ADANIPORTS',
    'AMARAJABAT',
    'AMBUJACEM',
    'APOLLOHOSP',
    'APOLLOTYRE',
    'ASHOKLEY',
    'ASIANPAINT',
    'AUROPHARMA',
    'AXISBANK',
    'BAJAJ-AUTO',
    'BAJAJFINSV',
    'BAJFINANCE',
    'BALKRISIND',
    'BANDHANBNK',
    'BANKBARODA',
    'BATAINDIA',
    'BEL',
    'BERGEPAINT',
    'BHARATFORG',
    'BHARTIARTL',
    'BHEL',
    'BIOCON',
    'BOSCHLTD',
    'BPCL',
    'BRITANNIA',
    'CADILAHC',
    'CANBK',
    'CENTURYTEX',
    'CHOLAFIN',
    'CIPLA',
    'COALINDIA',
    'COLPAL',
    'CONCOR',
    'CUMMINSIND',
    'DABUR',
    'DIVISLAB',
    'DLF',
    'DRREDDY',
    'EICHERMOT',
    'EQUITAS',
    'ESCORTS',
    'EXIDEIND',
    'FEDERALBNK',
    'GAIL',
    'GLENMARK',
    'GMRINFRA',
    'GODREJCP',
    'GODREJPROP',
    'GRASIM',
    'HAVELLS',
    'HCLTECH',
    'HDFC',
    'HDFCBANK',
    'HDFCLIFE',
    'HEROMOTOCO',
    'HINDALCO',
    'HINDPETRO',
    'HINDUNILVR',
    'IBULHSGFIN',
    'ICICIBANK',
    'ICICIPRULI',
    'IDEA',
    'IDFCFIRSTB',
    'IGL',
    'INDIGO',
    'INDUSINDBK',
    'INFRATEL',
    'INFY',
    'IOC',
    'ITC',
    'JINDALSTEL',
    'JSWSTEEL',
    'JUBLFOOD',
    'KOTAKBANK',
    'L&TFH',
    'LICHSGFIN',
    'LT',
    'LUPIN',
    'M&M',
    'M&MFIN',
    'MANAPPURAM',
    'MARICO',
    'MARUTI',
    'MCDOWELL-N',
    'MFSL',
    'MGL',
    'MINDTREE',
    'MOTHERSUMI',
    'MRF',
    'MUTHOOTFIN',
    'NATIONALUM',
    'NAUKRI',
    'NESTLEIND',
    'NIITTECH',
    'NMDC',
    'NTPC',
    'ONGC',
    'PAGEIND',
    'PEL',
    'PETRONET',
    'PFC',
    'PIDILITIND',
    'PNB',
    'POWERGRID',
    'PVR',
    'RAMCOCEM',
    'RBLBANK',
    'RECLTD',
    'RELIANCE',
    'SAIL',
    'SBILIFE',
    'SBIN',
    'SHREECEM',
    'SEIMENS',
    'SRF',
    'SRTRANSFIN',
    'SUNPHARMA',
    'SUNTV',
    'TATACHEM',
    'TATACONSUM',
    'TATAMOTORS',
    'TATAPOWER',
    'TATASTEEL',
    'TCS',
    'TECHM',
    'TITAN',
    'TORNTPHARM',
    'TORNTPOWER',
    'TVSMOTOR',
    'UBL',
    'UJJIVAN',
    'ULTRACEMCO',
    'UPL',
    'VEDL',
    'VOLTAS',
    'WIPRO',
    'ZEEL' 
    ]
df = df[df['SYMBOL'].isin(multisymbols)]
df

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
6394,OPTSTK,ACC,29-Jul-2021,1160.0,CE,0.0,0.0,0.0,728.40,839.25,0,0.0,0,0,01-JUL-2021,NaN
6395,OPTSTK,ACC,29-Jul-2021,1180.0,CE,0.0,0.0,0.0,708.70,819.30,0,0.0,0,0,01-JUL-2021,NaN
6396,OPTSTK,ACC,29-Jul-2021,1200.0,CE,0.0,0.0,0.0,689.10,799.40,0,0.0,0,0,01-JUL-2021,NaN
6397,OPTSTK,ACC,29-Jul-2021,1220.0,CE,0.0,0.0,0.0,669.50,779.45,0,0.0,0,0,01-JUL-2021,NaN
6398,OPTSTK,ACC,29-Jul-2021,1240.0,CE,0.0,0.0,0.0,650.00,759.50,0,0.0,0,0,01-JUL-2021,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50733,OPTSTK,ZEEL,30-Sep-2021,255.0,PE,0.0,0.0,0.0,54.70,53.15,0,0.0,0,0,01-JUL-2021,NaN
50734,OPTSTK,ZEEL,30-Sep-2021,260.0,PE,0.0,0.0,0.0,58.40,56.90,0,0.0,0,0,01-JUL-2021,NaN
50735,OPTSTK,ZEEL,30-Sep-2021,265.0,PE,0.0,0.0,0.0,62.20,60.70,0,0.0,0,0,01-JUL-2021,NaN
50736,OPTSTK,ZEEL,30-Sep-2021,270.0,PE,0.0,0.0,0.0,66.05,64.60,0,0.0,0,0,01-JUL-2021,NaN
50737,OPTSTK,ZEEL,30-Sep-2021,275.0,PE,0.0,0.0,0.0,70.00,68.55,0,0.0,0,0,01-JUL-2021,NaN

In [19]:
dates = ["29-Jul-2021"] 
df = df[df['EXPIRY_DT'].isin(dates)]
df

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
6394,OPTSTK,ACC,29-Jul-2021,1160.0,CE,0.0,0.0,0.0,728.40,839.25,0,0.0,0,0,01-JUL-2021,NaN
6395,OPTSTK,ACC,29-Jul-2021,1180.0,CE,0.0,0.0,0.0,708.70,819.30,0,0.0,0,0,01-JUL-2021,NaN
6396,OPTSTK,ACC,29-Jul-2021,1200.0,CE,0.0,0.0,0.0,689.10,799.40,0,0.0,0,0,01-JUL-2021,NaN
6397,OPTSTK,ACC,29-Jul-2021,1220.0,CE,0.0,0.0,0.0,669.50,779.45,0,0.0,0,0,01-JUL-2021,NaN
6398,OPTSTK,ACC,29-Jul-2021,1240.0,CE,0.0,0.0,0.0,650.00,759.50,0,0.0,0,0,01-JUL-2021,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50613,OPTSTK,ZEEL,29-Jul-2021,255.0,PE,0.0,0.0,0.0,75.05,43.40,0,0.0,0,0,01-JUL-2021,NaN
50614,OPTSTK,ZEEL,29-Jul-2021,260.0,PE,0.0,0.0,0.0,79.25,47.65,0,0.0,0,0,01-JUL-2021,NaN
50615,OPTSTK,ZEEL,29-Jul-2021,265.0,PE,0.0,0.0,0.0,83.50,52.00,0,0.0,0,0,01-JUL-2021,NaN
50616,OPTSTK,ZEEL,29-Jul-2021,270.0,PE,0.0,0.0,0.0,87.85,56.50,0,0.0,0,0,01-JUL-2021,NaN
50617,OPTSTK,ZEEL,29-Jul-2021,275.0,PE,0.0,0.0,0.0,92.20,61.00,0,0.0,0,0,01-JUL-2021,NaN

In [20]:
df = df[df['OPTION_TYP'].str.contains("CE")]
df

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
6394,OPTSTK,ACC,29-Jul-2021,1160.0,CE,0.00,0.00,0.00,728.40,839.25,0,0.00,0,0,01-JUL-2021,NaN
6395,OPTSTK,ACC,29-Jul-2021,1180.0,CE,0.00,0.00,0.00,708.70,819.30,0,0.00,0,0,01-JUL-2021,NaN
6396,OPTSTK,ACC,29-Jul-2021,1200.0,CE,0.00,0.00,0.00,689.10,799.40,0,0.00,0,0,01-JUL-2021,NaN
6397,OPTSTK,ACC,29-Jul-2021,1220.0,CE,0.00,0.00,0.00,669.50,779.45,0,0.00,0,0,01-JUL-2021,NaN
6398,OPTSTK,ACC,29-Jul-2021,1240.0,CE,0.00,0.00,0.00,650.00,759.50,0,0.00,0,0,01-JUL-2021,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50583,OPTSTK,ZEEL,29-Jul-2021,255.0,CE,1.60,1.60,1.35,1.40,1.40,12,92.32,120000,-3000,01-JUL-2021,NaN
50584,OPTSTK,ZEEL,29-Jul-2021,260.0,CE,1.35,1.45,1.10,1.20,1.20,69,540.79,432000,6000,01-JUL-2021,NaN
50585,OPTSTK,ZEEL,29-Jul-2021,265.0,CE,0.00,0.00,0.00,0.95,3.00,0,0.00,75000,0,01-JUL-2021,NaN
50586,OPTSTK,ZEEL,29-Jul-2021,270.0,CE,1.00,1.00,0.80,0.80,0.80,20,162.54,267000,3000,01-JUL-2021,NaN
50587,OPTSTK,ZEEL,29-Jul-2021,275.0,CE,0.80,0.80,0.80,0.80,2.05,2,16.54,144000,0,01-JUL-2021,NaN

In [21]:
df.to_csv('raw_data.csv')

In [27]:
df_id_max = df.groupby(by=['SYMBOL'])['CHG_IN_OI'].idxmax()
df_max_group_by=df.loc[df_id_max,]
df_max_group_by.to_csv('group_by.csv')
df_max_group_by

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
6436,OPTSTK,ACC,29-Jul-2021,2000.0,CE,69.00,69.70,52.05,54.70,54.70,157,1617.08,83000,27500,01-JUL-2021,NaN
6800,OPTSTK,ADANIENT,29-Jul-2021,1500.0,CE,96.05,97.75,77.50,80.25,80.25,981,15541.56,549000,106000,01-JUL-2021,NaN
7092,OPTSTK,ADANIPORTS,29-Jul-2021,800.0,CE,9.50,10.50,8.00,8.45,8.45,851,8603.54,2461250,158750,01-JUL-2021,NaN
7780,OPTSTK,AMARAJABAT,29-Jul-2021,750.0,CE,16.50,17.35,14.95,15.40,15.40,347,2657.89,1127000,59000,01-JUL-2021,NaN
8129,OPTSTK,AMBUJACEM,29-Jul-2021,340.0,CE,10.55,10.80,9.40,9.55,9.55,114,1197.11,276000,69000,01-JUL-2021,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49602,OPTSTK,UPL,29-Jul-2021,870.0,CE,6.75,6.75,4.75,5.40,5.40,75,853.61,146900,68900,01-JUL-2021,NaN
49865,OPTSTK,VEDL,29-Jul-2021,270.0,CE,7.75,8.25,6.45,6.75,6.75,971,8342.63,5177000,139500,01-JUL-2021,NaN
50063,OPTSTK,VOLTAS,29-Jul-2021,1020.0,CE,38.35,38.35,31.55,32.10,32.10,226,1191.48,121000,29000,01-JUL-2021,NaN
50284,OPTSTK,WIPRO,29-Jul-2021,540.0,CE,19.85,20.35,17.00,17.70,17.70,709,6330.64,768000,244800,01-JUL-2021,NaN
50576,OPTSTK,ZEEL,29-Jul-2021,220.0,CE,7.20,8.25,6.35,6.50,6.50,1375,9373.37,4509000,135000,01-JUL-2021,NaN

In [19]:
# for element in multisymbols:
#     df = df[df['SYMBOL'].str.contains(element)]
# #     df[df['SYMBOL'].str.contains(element)]
#     df = df.sort_values(['CHG_IN_OI'], ascending=False)
#     df = df.iloc[:1]
    
    
# df.to_csv("DATA.csv", mode="a")
# #     df.sort_values("diff").groupby("item", as_index=False).first()

In [20]:
# df

Empty DataFrame
Columns: [Unnamed: 0, INSTRUMENT, SYMBOL, EXPIRY_DT, STRIKE_PR, OPTION_TYP, OPEN, HIGH, LOW, CLOSE, SETTLE_PR, CONTRACTS, VAL_INLAKH, OPEN_INT, CHG_IN_OI, TIMESTAMP, Unnamed: 15]
Index: []

In [ ]:
# for symbol in multisymbols:
# aggregation_dict = {col: 'first' for col in df4.columns}
# aggregation_dict['CHG_IN_OI'] = 'max'
# df4 = df4.groupby(['SYMBOL'], as_index=True).agg({'INSTRUMENT':'first', 'EXPIRY_DT':'first', 'STRIKE_PR':'first', 'OPTION_TYP':'first', 'OPEN':'first', 'HIGH':'first', 'LOW':'first', 'CLOSE': 'first','SETTLE_PR':'first','CONTRACTS':'first','VAL_INLAKH':'first','OPEN_INT':'first','CHG_IN_OI': 'max', 'TIMESTAMP':'first', 'Unnamed:15':'first'})
# df6 = df5.groupby(['SYMBOL'], as_index=False).agg(aggregation_dict)
# df6
# df4 = filter_by_max_chg_in_oi(df4, symbol)

In [ ]:
# df4.to_csv('OPTSTK_CE_Stocks.csv')