In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('bhavdata.csv')
df

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
0,FUTIDX,BANKNIFTY,27-Aug-2020,0.0,XX,21851.00,22099.00,21802.00,21956.35,21956.35,217030,1192952.77,1310550,-26050,10-AUG-2020,NaN
1,FUTIDX,BANKNIFTY,24-Sep-2020,0.0,XX,21888.75,22093.10,21807.00,21955.30,21955.30,4557,25044.39,67150,2375,10-AUG-2020,NaN
2,FUTIDX,BANKNIFTY,29-Oct-2020,0.0,XX,21899.95,22100.00,21784.85,21974.10,21974.10,292,1605.30,7750,550,10-AUG-2020,NaN
3,FUTIDX,NIFTY,27-Aug-2020,0.0,XX,11274.95,11334.75,11242.05,11293.35,11293.35,125516,1063750.23,10313625,-35325,10-AUG-2020,NaN
4,FUTIDX,NIFTY,24-Sep-2020,0.0,XX,11262.00,11339.10,11252.95,11301.45,11301.45,6244,52947.72,948825,32175,10-AUG-2020,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34845,OPTSTK,ZEEL,29-Oct-2020,190.0,PE,0.00,0.00,0.00,58.40,45.40,0,0.00,0,0,10-AUG-2020,NaN
34846,OPTSTK,ZEEL,29-Oct-2020,195.0,PE,0.00,0.00,0.00,62.45,49.40,0,0.00,0,0,10-AUG-2020,NaN
34847,OPTSTK,ZEEL,29-Oct-2020,200.0,PE,0.00,0.00,0.00,66.60,53.50,0,0.00,0,0,10-AUG-2020,NaN
34848,OPTSTK,ZEEL,29-Oct-2020,205.0,PE,0.00,0.00,0.00,70.80,57.70,0,0.00,0,0,10-AUG-2020,NaN
34849,OPTSTK,ZEEL,29-Oct-2020,210.0,PE,0.00,0.00,0.00,75.05,61.95,0,0.00,0,0,10-AUG-2020,NaN

In [3]:
df.shape

(34850, 16)

In [4]:
df1 = df[df['INSTRUMENT'].str.contains('FUTIDX')]
df1

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
0,FUTIDX,BANKNIFTY,27-Aug-2020,0.0,XX,21851.00,22099.00,21802.00,21956.35,21956.35,217030,1192952.77,1310550,-26050,10-AUG-2020,NaN
1,FUTIDX,BANKNIFTY,24-Sep-2020,0.0,XX,21888.75,22093.10,21807.00,21955.30,21955.30,4557,25044.39,67150,2375,10-AUG-2020,NaN
2,FUTIDX,BANKNIFTY,29-Oct-2020,0.0,XX,21899.95,22100.00,21784.85,21974.10,21974.10,292,1605.30,7750,550,10-AUG-2020,NaN
3,FUTIDX,NIFTY,27-Aug-2020,0.0,XX,11274.95,11334.75,11242.05,11293.35,11293.35,125516,1063750.23,10313625,-35325,10-AUG-2020,NaN
4,FUTIDX,NIFTY,24-Sep-2020,0.0,XX,11262.00,11339.10,11252.95,11301.45,11301.45,6244,52947.72,948825,32175,10-AUG-2020,NaN
5,FUTIDX,NIFTY,29-Oct-2020,0.0,XX,11283.30,11351.25,11264.30,11310.85,11310.85,636,5398.48,118500,10500,10-AUG-2020,NaN

In [5]:
BNS = ['BANKNIFTY']
df1 = df1[df['SYMBOL'].isin(BNS)]
df1

<ipython-input-5-e50bb406d16d>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1 = df1[df['SYMBOL'].isin(BNS)]

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
0,FUTIDX,BANKNIFTY,27-Aug-2020,0.0,XX,21851.00,22099.0,21802.00,21956.35,21956.35,217030,1192952.77,1310550,-26050,10-AUG-2020,NaN
1,FUTIDX,BANKNIFTY,24-Sep-2020,0.0,XX,21888.75,22093.1,21807.00,21955.30,21955.30,4557,25044.39,67150,2375,10-AUG-2020,NaN
2,FUTIDX,BANKNIFTY,29-Oct-2020,0.0,XX,21899.95,22100.0,21784.85,21974.10,21974.10,292,1605.30,7750,550,10-AUG-2020,NaN

In [6]:
dates = ["27-Aug-2020"]
df1 = df1[df['EXPIRY_DT'].isin(dates)]
df1

<ipython-input-6-755685aa9cc1>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1 = df1[df['EXPIRY_DT'].isin(dates)]

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
0,FUTIDX,BANKNIFTY,27-Aug-2020,0.0,XX,21851.0,22099.0,21802.0,21956.35,21956.35,217030,1192952.77,1310550,-26050,10-AUG-2020,NaN

In [7]:
df1.to_csv("FUTIDX_Banknifty.csv")

In [8]:
df2 = df[df['INSTRUMENT'].str.contains('FUTIDX')]
df2

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
0,FUTIDX,BANKNIFTY,27-Aug-2020,0.0,XX,21851.00,22099.00,21802.00,21956.35,21956.35,217030,1192952.77,1310550,-26050,10-AUG-2020,NaN
1,FUTIDX,BANKNIFTY,24-Sep-2020,0.0,XX,21888.75,22093.10,21807.00,21955.30,21955.30,4557,25044.39,67150,2375,10-AUG-2020,NaN
2,FUTIDX,BANKNIFTY,29-Oct-2020,0.0,XX,21899.95,22100.00,21784.85,21974.10,21974.10,292,1605.30,7750,550,10-AUG-2020,NaN
3,FUTIDX,NIFTY,27-Aug-2020,0.0,XX,11274.95,11334.75,11242.05,11293.35,11293.35,125516,1063750.23,10313625,-35325,10-AUG-2020,NaN
4,FUTIDX,NIFTY,24-Sep-2020,0.0,XX,11262.00,11339.10,11252.95,11301.45,11301.45,6244,52947.72,948825,32175,10-AUG-2020,NaN
5,FUTIDX,NIFTY,29-Oct-2020,0.0,XX,11283.30,11351.25,11264.30,11310.85,11310.85,636,5398.48,118500,10500,10-AUG-2020,NaN

In [9]:
NS = ['NIFTY']
df2 = df2[df['SYMBOL'].isin(NS)]
df2

<ipython-input-9-8e6912e5cee7>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2 = df2[df['SYMBOL'].isin(NS)]

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
3,FUTIDX,NIFTY,27-Aug-2020,0.0,XX,11274.95,11334.75,11242.05,11293.35,11293.35,125516,1063750.23,10313625,-35325,10-AUG-2020,NaN
4,FUTIDX,NIFTY,24-Sep-2020,0.0,XX,11262.00,11339.10,11252.95,11301.45,11301.45,6244,52947.72,948825,32175,10-AUG-2020,NaN
5,FUTIDX,NIFTY,29-Oct-2020,0.0,XX,11283.30,11351.25,11264.30,11310.85,11310.85,636,5398.48,118500,10500,10-AUG-2020,NaN

In [10]:
df2 = df2[df['EXPIRY_DT'].isin(dates)]
df2

<ipython-input-10-9aa28cb238d1>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2 = df2[df['EXPIRY_DT'].isin(dates)]

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
3,FUTIDX,NIFTY,27-Aug-2020,0.0,XX,11274.95,11334.75,11242.05,11293.35,11293.35,125516,1063750.23,10313625,-35325,10-AUG-2020,NaN

In [11]:
df2.to_csv("FUTIDX_NIFTY.csv")